<div class="row justify-content-md-center">
    <div class="col-10">
        <br />
        <p>
            In 2013 we pulled the trigger on a camper van, something we've been dreaming of since our honeymoon, so that we could travel <i>with our dog Flynn</i>.
            Nicknamed the "Good Times Van", aka the "Radtrek" (note the missing 'o' in the 'Roadtrek' logo on the side)
        </p>
        <p>
            We cite the following, as inspiration for our travels:
        </p>
        <hr />
    </div>
    <div class="col-8">
        <a href="https://www.youtube.com/watch?v=j_8cSljATH4">
            <p>
                She said, "Do you have a car," and I said, "Do I have a car?"
            </p>
            <img src="~/images/about/DSCN1279.JPG" alt="" class="img-fluid" style="margin: 0 auto" />
        </a>
        <hr />
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-8">
        <a href="http://xkcd.com/1024/">
            <p>
                error: -41
            </p>
            <img src="~/images/about/DSCN7492.JPG" alt="" class="img-fluid" style="margin: 0 auto" />
        </a>
        <hr />
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-8">
        <p>
            deschutes landmarks, beach house, cave singers
        </p>
        <iframe style="width:100%;height:400px;" sandbox="allow-same-origin allow-scripts allow-popups"
                allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen=""
                src="https://player.vimeo.com/video/22968295?api=1"></iframe>
    </div>
</div>