<div class="row justify-content-md-center">
    <div class="col-10">
        <h2>gtvpics.</h2>
        <hr />
        <p>
            <img src="~/images/gtvpics/DSCN7366.JPG" alt=""  class="img-fluid"/>
            <br /><br />
            <img src="~/images/gtvpics/DSCN7378.JPG" alt="" class="img-fluid" />
            <br /><br />
            <img src="~/images/gtvpics/DSCN7399.JPG" alt="" class="img-fluid" />
            <br /><br />
            <img src="~/images/gtvpics/DSCN7457.jpg" alt="" class="img-fluid" />
            <br /><br />
            <img src="~/images/gtvpics/DSCN7605.JPG" alt="" class="img-fluid" />
            <br /><br />
            <img src="~/images/gtvpics/DSCN7622.JPG" alt="" class="img-fluid" />
            <br /><br />
            <img src="~/images/gtvpics/DSCN7748.JPG" alt="" class="img-fluid" />
            <br /><br />
            <img src="~/images/gtvpics/DSCN7778.JPG" alt="" class="img-fluid" />
            <br /><br />
            <img src="~/images/gtvpics/DSCN8172.JPG" alt="" class="img-fluid" />
            <br /><br />
        </p>
    </div>
</div>
